@model IEnumerable<MusicApp.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<h1>Artists</h1>

<p>
    <a asp-action="Create" asp-route-artistId="@ViewBag.artistId" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Index" asp-controller="Album" asp-route-artistid="@item.Id">Albums</a>
            </td>
        </tr>
}
    </tbody>
</table>
